h1,
h2,
h3,
p {
  margin: 0;
}

h2 {
  margin-bottom: 5px;
}

.navbar{
  width: 100vw;
  background-color: black;
  transition: 1s;
  display: grid;
  justify-content: center;
}

.navbar > * {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_invert{
  background-color: white;
}


.navbar_menu{
  display: flex;
  color: white;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  width: 100%;
}

.navbar_menu:first-child{
  margin-left:0;
}

.navbar_menu li {
  margin: 0 20px;
  padding: 0 20px;

}

.navbar_menu li a {
  text-decoration: none;
  color: white;
}

.navbar_invert li a {
  color: black;
}

.navbarmore{
  margin-bottom: 20px;
}

.box {
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin: 10px;
  width: 40%;
  max-width: 600px;
  height: 343px;
  color: white;
}

.tag {
  border-left: 2px solid red;
  margin: 10px 0;
  padding-left: 5px;
}

.newsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
